html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    color: #fff;
    background-image: url(../bk/6.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat ;
    background-size: cover;
    /*background-position-y: -10em;*/   
}

/* Globales*/
h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 5rem;
}

h3 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: #fff;
}

/* ESPECIFICOS */
.navegacion {
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*align-items: center;*/
}
.logo{
    display: grid;
    justify-content: start;
    align-items: center;
    padding: 1em 2em;
}
/* Nav */
.navegacionder a{
    padding: 1.2em;
}



.contenedor {
    max-width: 100%;
    display: block;
}

.leyenda {
    max-width: 70em;
    margin-left: 12em;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: justify;
    background-color: black;
    padding: 3em;
    opacity: 60%;
    border-radius: 1%;
    margin-top: 5.5em;
}

.leyenda h1{
    font-size: 5em;
    text-align: center;
    font-weight: lighter;
    margin-top: -.5em;
}

.iconos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px;
    margin-top: 25em;
}

.iconos a{
    font-size: 25px;
    margin: 10px;
    color: #fff;
}