@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    background-image: url(https://images8.alphacoders.com/588/588592.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Globales*/
h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 5rem;
}

h3 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: #fff;
}

.contenedor {
    max-width: 100%;
    display: block;
}

.center {
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;

}
.form-input {
    width:350px;
    padding:20px;
    background:#fff;
    box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
                3px 3px 7px rgba(94, 104, 121, 0.377);
    border: solid 5px #000;
}

.form-input img {
    width:100%;
    margin-bottom:30px;
}

.form-input input {
    display:none;
}

.form-input label {
    display:block;
    width:45%;
    height:45px;
    margin-left: 25%;
    line-height:50px;
    text-align:center;
    background:#1172c2;
    color:#fff;
    font-size:15px;
    font-family:"Open Sans",sans-serif;
    text-transform:Uppercase;
    font-weight:600;
    border-radius:5px;
    cursor:pointer;
}

.especieT{
    font-family: Caveat;
    text-align: center;
    transform: rotate(-3deg);
    font-size: 40px;
    font-weight: bold;
    color: #000;
}      

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mapa{
    width: 85%;
    height: 600px;
}

h2{
    font-size: 45px;
}

.info{
    width: 70%;
    font-size: 20px;
}


.mapainterctivo{
    padding-top: 3em;
}

.baseLogo {
    margin-top: -11em;
    margin-left: 67em;
    position: absolute;
}

.logoR {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    width: 18em;
    height: 18em;
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 0 0 5em rgba(0, 225, 255, 0.555);
    overflow: hidden;
}

.logoR:before
{
    content: '';
    position: absolute;
    top: 75%;
    left: 46%;
    width: .5em;
    height: .5em;
    background: #00a2ff;
    border-radius: 50%;
    filter: blur(2px);
    animation: glow 2s linear infinite;
}

.logoR:after
{
    content: '';
    position: absolute;
    top: 55%;
    left: 60%;
    width: .5em;
    height: .5em;
    background: #00a2ff;
    border-radius: 50%;
    filter: blur(2px);
    animation: glow 2s linear infinite;
}

.logoR li:nth-child(1),
.logoR li:nth-child(2),
.logoR li:nth-child(3),
.logoR li:nth-child(4), 
.logoR li:nth-child(9),
.logoR li:nth-child(10) 
{
    list-style: none;
    position: absolute;
    top:50%;
    height: 1px;
    width: 18em;
    background: rgb(103, 216, 236);
    border-radius: 50%;
}

.logoR li:nth-child(2)
{
    transform: rotate(90deg);
}
.logoR li:nth-child(3)
{
    transform: rotate(120deg);
}
.logoR li:nth-child(4)
{
    transform: rotate(-120deg);
}
.logoR li:nth-child(9)
{
    transform: rotate(150deg);
}
.logoR li:nth-child(10)
{
    transform: rotate(-150deg);
}

.logoR li:nth-child(5),
.logoR li:nth-child(6),
.logoR li:nth-child(7),
.logoR li:nth-child(11),
.logoR li:nth-child(12),
.logoR li:nth-child(13)
{
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid rgb(103, 216, 236);
    background: transparent;
    border-radius: 50%;
}
.logoR li:nth-child(5)
{
    width: 3em;
    height: 3em;
}
.logoR li:nth-child(6)
{
    width: 6em;
    height: 6em;
}
.logoR li:nth-child(7)
{
    width: 9em;
    height: 9em;
}
.logoR li:nth-child(11)
{
    width: 12em;
    height: 12em;
}
.logoR li:nth-child(12)
{
    width: 15em;
    height: 15em;
}
.logoR li:nth-child(13)
{
    width: 12em;
    height: 12em;
}

.logoR li:nth-child(8)
{
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9em;
    height: 9em;
    transform-origin: top left;
    background: linear-gradient(45deg, #00c3ff 0%, transparent 50%);
    animation: animate 2s linear infinite;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes glow
{
    0%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}
