:root{
    --color_1: #156576;
    --color_2: #34B1AC;
    --color_3: #7BC789;
    --color_4: #D8C39D;
}

/* Corpus*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

/* Globales*/
h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 5rem;
}

h3 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: #000
}

.contenedor {
    max-width: 100%;
    display: block;
}


