html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    color: #fff;
    background-image: url(https://estaticos.muyinteresante.es/uploads/images/article/60be9a8e5bafe8caa542e41c/oceano-1_1.jpg);
    background-attachment: fixed;
    overflow: scroll;
    background-repeat: no-repeat ;
    background-size: cover;
}

.navegacion{
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.dropdown-content{
    display: flex;
    padding: 1em;
    gap: 1em;

}

/* Globales*/
h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 5rem;
}

h3 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: #fff
}

.contenedor {
    max-width: 100%;
    display: block;
}


